* {
	text-align: center;
}
h1 {
	font-family: fantasy;
}
.profile {
	/*border: 2px solid black;*/
	margin:40px 100px;
}
.profile-pic {
	border-radius: 100%;
}
.profile-intro {
	font-size:15px;
}
.listItem {
	width: 50%;
	height: 350px;
	margin:20px auto;
	float:left;
}
.list-pic {
	width: 250px;
}
.caption {
	font-family: Georgia, sans-serif;
	font-style: italic;
	font-size:20px;
	margin: 10px 50px;
}